* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.App {
  position: relative;
  padding: 0.5em;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 600px;
  align-items:flex-start;
  gap: 1em;
}
